
#tip {
  background-color: #fcf8e3;
  padding: 8px;
  margin: 0;
  box-shadow: 1px 1px 2px #fcf8e3;
}

#challenge {
  background-color: #dbf0fc;
  padding: 8px;
  margin: 0;
  box-shadow: 1px 1px 2px #dbf0fc;
}

details > summary {
  padding: 4px;
  width: 200px;
  background-color: #f8f8f8;
  border: none;
  box-shadow: 1px 1px 2px #f8f8f8;
  cursor: pointer;
}

